<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="styles.css" />
    <title>Prototype</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper">
        <a href="/interstellar">
          <img
            class="mainImage"
            src="music/interstellar/Interstellar.jpg"
            alt="alt"
          />
        </a>
        <a href="/blackpanther">
          <img
            class="mainImage"
            src="music/blackpanther/BlackPanther.jpg"
            alt="alt"
          />
        </a>
      </div>
    </div>
    <!-- <div class="footer"></div> -->
  </body>
</html>
